* {
  box-sizing: border-box;
}

body {
  line-height: 1.6;
  font-size: 18px;
  font-family: sans-serif;
  color: #444;
  padding: 0 10px;
}

h2 {
  line-height: 1.2;
}

form {
  display: none;
}

#film-posters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

#film-posters p {
  background: #000;
  text-align: center;
  flex-basis: 24%;
  border-radius: 6px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

#film-posters p:hover {
  cursor: pointer;
  background: #444;
  transition: all 0.3s ease-in-out;
}

.film-poster {
  display: block;
  width: auto;
  height: 150px;
}

.film-name {
  text-align: center;
  margin-top: 15px;
  color: #fff;
}

/* Selecionar p cuja imagem interna tenha a classe selected */
#film-posters p.selected {
  background: #53615a;
  border: 2px solid #fff;
}


#show-video {
  display: none; /* flex */
  background: #000;
  padding: 20px;
  border-radius: 6px;
  position: relative;
}

#show-video video {
  border-radius: 6px 0 0 6px;
}

#videoPlayer {
  width: 60%;
}

.caracteristicas {
  width: 15%;
}

.caracteristicas,
.estatisticas {
  padding: 10px;
  color: #fff;
  width: 20%;
}

.caracteristicas p,
.estatisticas p {
  font-size: 12px;
  margin: 0;
  padding: 10px;
  display: inline-block;
  min-width: 48%;
}

.caracteristicas p {
  width: 100%;
}

.caracteristicas p span,
.estatisticas p span {
  display: block;
}

.caracteristicas p span:first-child,
.estatisticas p span:first-child {
  color: #888888;
}

.caracteristicas p span:last-child,
.estatisticas p span:last-child {
  font-weight: bold;
  font-size: 14px;
}

.estatisticas {
  width: 35%;
  background: #3a3a3a;
  border-radius: 0 6px 6px 0;
}

i.ms {
  color: #a2a2a2;
  font-weight: 100;
  font-style: normal;
}

@media screen and (max-width: 964px) {
  #film-posters p {
    width: 24.5%;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .film-poster {
    display: block;
    width: 100%;
    height: auto;
  }

  #show-video {
    flex-direction: column;
  }

  #videoPlayer {
    width: 100%;
  }

  .caracteristicas,
  .estatisticas {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .caracteristicas p,
  .estatisticas p {
    width: 33.3%;
    min-width: auto;
  }
}