* {
  box-sizing: border-box;
}
body {
  line-height: 1.6;
  font-size: 18px;
  font-family: sans-serif;
  color: #444;
  padding: 0 10px;
}

h2 {
  line-height: 1.2;
}

form {
  display: none;
}

#film-posters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

#film-posters p {
  margin: 5px;
  background: #000;
  text-align: center;
    padding: 10px;
}

#film-posters p:hover {
  cursor: pointer;
  background: #444;
  transition: all 0.3s ease-in-out;
}

.film-poster {
  width: 150px;
  height: auto;
  margin-top: 20px;
}

.film-name {
  text-align: center;
  margin-top: 15px;
  color: #fff;
}

/* Selecionar p cuja imagem interna tenha a classe selected */
#film-posters p.selected {
  background: #53615a;
  border: 2px solid #fff;
}


#show-video {
  display: flex;
  background: #000;
  padding: 20px;
  border-radius: 6px;
}

#show-video video {
  border-radius: 6px 0 0 6px;
}

#videoPlayer {
  width: 60%;
}
.caracteristicas, .estatisticas {
  padding: 10px;
  color: #fff;
}
.estatisticas {
  flex-basis: 100%;
}

.caracteristicas p,
.estatisticas p {
  font-size: 12px;
  margin: 0;
  padding: 10px;
  display: inline-block;
  min-width: 48%;
}
.caracteristicas p span,
.estatisticas p span {
  display: block;
}
.caracteristicas p span:first-child,
.estatisticas p span:first-child {
  color: #eaeaea;
}
.caracteristicas p span:last-child,
.estatisticas p span:last-child {
  font-weight: bold;
  font-size: 14px;
}

.estatisticas {
  background: #323b37;
  border-radius: 0 6px 6px 0;
}
